# Imports & global constants

In [46]:
import pandas as pd

In [47]:
#Load data from CatanDB.xlsx
df = pd.read_excel('CatanDB.xlsx')

In [48]:
df.head()

,Map string,Port string,PlayerOnePlacement,PlayerTwoPlacement,PlayerThreePlacement,PlayerFourPlacement,PlayerOnePoints,PlayerTwoPoints,PlayerThreePoints,PlayerFourPoints,WinningPlayer,Elo
0,"wh9,or10,sh8,br12,sh05,de00,or03,sh11,wh06,wo1...","sh,xx, br,wh,wo,x,or,xx,xx","45-49, 5-9","8-4,17-23","39-43,35-30","28-22,25-19",7,10,7,9,2,1335
1,"wh09, br12,or11,or10,or05,wh06,de00,sh08,wo04,...","tr,xx,wo,xx,or,sh,xx,wh,br","12-7, 33-27","41-46, 13-8","22-28, 39-44","23-18, 40-45",6,6,4,10,4,1332
2,"br08,sh03,wh06,wh10,wh04,de00,or02,or09,sh05,s...","xx,wh,wo,xx,br,or,sh,xx,xx","8-13, 30-36","31-37, 45-41","22-28, 44-48","29-34, 7-3",8,5,10,7,3,1330
3,"wh11,br12,or09,de00,sh06,sh05,wo10,br04,wo03,w...","or,wh,sh,xx,wo,xx,xx,xx,br","41-45, 8-4","14-19, 18-13","39-43, 5-2,","31-37, 28-33",7,4,6,10,4,1326
4,"wo09,wh12,br11,br10,br05,sh06,or04,or08,sh04,w...","or,wh,xx,xx,br,sh,xx,xx,wo","12-7, 43-47","22-28, 44-48","18-23, 31-36","34-39,14-9",7,6,9,19,4,1326

# Data Cleaning

In [56]:
df_clean = df.copy()    

def clean_map_string(map_string):
    map_string = map_string.replace(' ', '')
    map_string = map_string.replace(',', '')

    # Ensure that formatting is correct, eg. if user enters 4 instead of 04 the resulting string is the same
    for i in range(3, len(map_string), 4):
        if not map_string[i].isdigit():
            map_string = map_string[:i-1] + '0' + map_string[i-1:]        
    return map_string
df_clean['Map string'] = df_clean['Map string'].apply(clean_map_string)

# Feature Engineering

In [64]:
settlment_to_tile_map = [
    [0],
    [1],
    [2],
    [0],
    [0,1],
    [1,2],
    [2],
    [0,3],
    [0,1,4],
    [1,2,5],
    [2,6],
    [3],
    [3,4],
    [1,4,5],
    [2,5,6],
    [6],
    [3,7],
    [3,4,8],
    [4,5,9],
    [5,6,10],
    [6,11],
    [7],
    [3,7,8],
    [4,8,9],
    [5,9,10],
    [6,10,11],
    [11],
    [7],
    [7,8,12],
    [8,9,13],
    [9,10,14], 
    [10,11,15],
    [11],
    [7,12],
    [8,12,13],
    [9,13,14],
    [10,14,15],
    [11,15],
    [12],
    [12,13,16],
    [13,14,17],
    [14,15,18],
    [15],
    [12,16],
    [13,16,17],
    [14,17,18],
    [15,18],
    [16],
    [16, 17],
    [17, 18],
    [18],
    [16],
    [17],
    [18]]
settlment_to_tile_map[41]

[14, 15, 18]

In [60]:
def tile_sting_to_tile(tile_string):
    match tile_string:
        case 'wo':
            return 'wood'
        case 'br':
            return 'brick'
        case 'sh':
            return 'sheep'
        case 'wh':
            return 'wheat'
        case 'or':
            return 'ore'
        case 'de':
            return 'desert'

def create_map_dict(map_string):
    # Split every 4 characters
    map_list = [map_string[i:i+4] for i in range(0, len(map_string), 4)]
    print(map_list)
    map_dict = {}
    for i in range(len(map_list)):
        map_dict[i] = tile_sting_to_tile(map_list[i][:2]), int(map_list[i][2:])
    print(map_dict)


        
        

map_string = df_clean.iloc[0]['Map string']
map_dict = create_map_dict(map_string)

['wh09', 'or10', 'sh08', 'br12', 'sh05', 'de00', 'or03', 'sh11', 'wh06', 'wo11', 'or04', 'wo06', 'wh04', 'wo03', 'wo09', 'sh02', 'br08', 'sh10', 'br05']
{0: ('wheat', 9), 1: ('ore', 10), 2: ('sheep', 8), 3: ('brick', 12), 4: ('sheep', 5), 5: ('desert', 0), 6: ('ore', 3), 7: ('sheep', 11), 8: ('wheat', 6), 9: ('wood', 11), 10: ('ore', 4), 11: ('wood', 6), 12: ('wheat', 4), 13: ('wood', 3), 14: ('wood', 9), 15: ('sheep', 2), 16: ('brick', 8), 17: ('sheep', 10), 18: ('brick', 5)}